// COLORS
$mainColor: #212121;

// TEXT COLORS

// FONTS
$sserif: Arial, Tahoma, sans-serif;
$serif: serif;
$GP: "GothamPro";

$fw-b: 700;
$fw-n: 400;
$fw-l: 300;
$fw-m: 500;

// icon-gradient

$icon-gradient-from: #2983b8;
$icon-gradient-to: #43a8c6;

//colors

$white: #fff;