extends ../layout/layout

block title
    | Страница со всеми элементами

block content
    main
        include ../modules/title_row
        .container
            .content-row
                .content.content-with-sidebar
                    h2 H2. Ghotam Pro Regular 30px.<br>Многострочный заголовок
                    .d-flex
                        div.mr-30
                            h4 Маркерованный список
                            ul.bullet
                                li хронические гастродуодениты
                                li язвенная болезнь желудка и 12-перстной кишки
                                li болезни желчевыводящих путей
                                li хронические гепатиты
                                li хронические панкреатиты
                                li синдром раздраженного кишечника.
                        div
                            h4 Нумерованный список
                            ol
                                li хронические гастродуодениты
                                li язвенная болезнь желудка и 12-перстной кишки
                                li болезни желчевыводящих путей
                                li хронические гепатиты
                                li хронические панкреатиты
                                li синдром раздраженного кишечника.
                    .lead
                        h4 Ожидаемый эффект:
                        p.
                            снижение частоты и длительности рецидивов заболеваний,
                            снижение тяжести течения, уменьшение продолжительности
                            пребывания на больничном листе, уменьшение затрат на медикаментозное лечение,
                            урежение госпитализации, профилактика осложнений,
                            поддержание оптимального качества жизни.
                    h3 Н3. Ghotam Pro Regular 24px. Делаем заголовок нарочито длинным, чтобы убедится в правильном интерлиньяже
                    .table-wrapper
                        table
                            tr
                                th
                                th на 14 дней
                                th на 18 дней
                                th на 21 дней
                            tr
                                td Приём лечащего врача
                                td 1
                                td 2
                                td 1
                            tr
                                td Приём лечащего повторный
                                td 1
                                td 2
                                td 1
                            tr
                                td Приём минеральной воды
                                td ежедневно
                                td ежедневно
                                td ежедневно
                            tr
                                td Приём лечащего врача
                                td 1
                                td 1
                                td 1
                            tr
                                td Приём лечащего врача
                                td 2
                                td 1
                                td 1
                            tr
                                td Приём лечащего врача
                                td 1
                                td 1
                                td 1
                    .table__comment Комментарии к таблице (внизу небольшим шрифтом)
                    .footnote.
                        А это текст сноски, который помещается в элемент «Сноски» (класс footnotes).
                        Это позволит при необходимости сделать всплывающую сноску.
                    .pagination
                        ul
                            li.prev.dissabled
                                a(href="#")
                                    +icon('left-arrow','')
                            li
                                a(href="#") 1
                            li.current
                                a(href="#") 2
                            li
                                a(href="#") 3
                            li
                                a(href="#") ...
                            li
                                a(href="#") 8
                            li
                                a(href="#") 9
                            li.next
                                a(href="#")
                                    +icon('left-arrow','')
                    hr
                    p.
                        Заболевания желудочно-кишечного тракта – следствие малоподвижного суетного
                        образа жизни и постоянных стрессов. Слишком большой круг обязанностей на работе и дома,
                        постоянный цейтнот времени приводят к питанию всухомятку, «на ходу», к выбору фаст-фуда,
                        что чревато развитием энтероколита, холецистита, панкреатита, гастрита.
                        Без лечения острая форма постепенно преобразуется в хроническую.
                        Поэтому так важно вовремя пройти профилактику даже здоровым на первый взгляд людям.

                aside.sidebar
                    .sidebar__menu
                        .sidebar__menu-title Лечебно-оздоровительные программы
                        ul.sidebar__menu-list
                            li.current
                                a(href="#") Лечение ЖКТ
                            li
                                a(href="#") Заболевания легких, лечение легких
                            li
                                a(href="#") Лечение эндометриоза и миомы матки
                        .sidebar__menu-bottom
                            a(href="#") Лечебная база и курортные факторы
                            a(href="#") Показания и противопоказания
                            a(href="#") Платные медицинские услуги
                    .sidebar__address
                        .sidebar__address-title Адрес санатория
                        | 357600, Ставропольский край,<br>
                        | г. Ессентуки, ул. Пушкина, 22
                    .sidebar__text.
                        Снижение частоты и длительности рецидивов заболеваний,
                        снижение тяжести течения, уменьшение продолжительности
                        пребывания на больничном листе
                    .sidebar__download
                        a.download-link(href="#")
                            | Прайс-лист на медицинские услуги 2019-20.pdf
                            span.download-link__btn Скачать <span class="download-link__size">123kb</span>
        .container
            .inner-gallery
                div
                    a(href="img/content/ig-1.jpg" data-fancybox="inner-gallery")
                        img(src="img/content/ig-1.jpg" alt="image")
                div
                    a(href="img/content/ig-2.jpg" data-fancybox="inner-gallery")
                        img(src="img/content/ig-2.jpg" alt="image")
                div
                    a(href="img/content/ig-3.jpg" data-fancybox="inner-gallery")
                        img(src="img/content/ig-3.jpg" alt="image")
                div
                    a(href="img/content/ig-4.jpg" data-fancybox="inner-gallery")
                        img(src="img/content/ig-4.jpg" alt="image")
                div
                    a(href="img/content/ig-2.jpg" data-fancybox="inner-gallery")
                        img(src="img/content/ig-4.jpg" alt="image")
        .container-fw.text__center
            img(src="img/content/fw-img.jpg" alt="image")
        .container
            .float-left
                figure
                    a(href="img/content/float-img.jpg" data-fancybox="single-img-1")
                        img(src="img/content/float-img.jpg" alt="image")
                    figcaption Фотографию поменьше, примерно на 70% ширины сайта с подписью к ней
                p.
                    Заболевания желудочно-кишечного тракта – следствие малоподвижного суетного образа жизни и постоянных
                    стрессов. Слишком большой круг обязанностей на работе и дома, постоянный цейтнот времени приводят к
                    питанию всухомятку, «на ходу», к выбору фаст-фуда, что чревато развитием энтероколита, холецистита,
                    панкреатита, гастрита. Без лечения острая форма постепенно преобразуется в хроническую.
                    Поэтому так важно вовремя пройти профилактику даже здоровым на первый взгляд людям.
                    В санатории Виктория работают высокопрофессиональные  специалисты: 3 заслуженных врача РФ, 4
                    кандидата медицинских наук, 102 врача высшей и первой квалификационных категорий,
                    200 медицинских сестер.
                p.
                    Территория санатория Виктория — дендрологический парк площадью 22 Га, на котором расположены
                    лечебный корпус, здание водолечебницы, крупнейшая в Европе питьевая галерея — памятник современной
                    архитектуры, 3 спальных корпуса, предназначенных для взрослой категории граждан, 1
                    спальный корпус для матери и ребенка, 2 пищеблока.
            .callback
                h3.callback__title По вашим вопросам пишите
                form
                    .form-group-row
                        .form-group
                            input.form-control(type="text", name="callback-name" placeholder="Ваше Имя*")
                            .form-error Это поле обязательно для заполнения
                        .form-group
                            input.form-control(type="tel", name="callback-phone" placeholder="+_(___) ___-__-__*")
                            .form-error Это поле обязательно для заполнения
                    .form-group
                        textarea.form-control(name="callback-message" placeholder="Ваш вопрос")
                    .form-group.text__center.form-group--submit
                        input.form-submit(type="submit" value="Отправить")
                    .form-group.form-group--checkbox
                        input(type="checkbox" name="callback-policy" id="callback-policy" checked required)
                        label(for="callback-policy") Я <a href="#">согласен</a> на обработку персональных данных
            .columns-items.colums-items-3
                a.columns-items__single(href="#")
                    img(src="img/content/col-3-1.jpg" alt="image")
                    h4 Лечебная база
                    p.
                        На базе ессентукского санатория Виктория
                        действуют 6 специализированных лечебно-
                        диагностических центров, 16 лечебно-
                        диагностических отделений и 6 профильных
                        кабинетов врачей-специалистов.
                    span.btn.btn--blue Подробнее
                a.columns-items__single(href="#")
                    img(src="img/content/col-3-2.jpg" alt="image")
                    h4 Развлекательная программа в санатории
                    p.
                        На базе ессентукского санатория Виктория
                        действуют 6 специализированных лечебно-
                        диагностических центров, 16 лечебно-
                        диагностических отделений и 6 профильных
                        кабинетов врачей-специалистов.
                    span.btn.btn--blue Подробнее
                a.columns-items__single(href="#")
                    img(src="img/content/col-3-1.jpg" alt="image")
                    h4 Общие данные о санатории
                    p.
                        На базе ессентукского санатория Виктория
                        действуют 6 специализированных лечебно-
                        диагностических центров, 16 лечебно-
                        диагностических отделений и 6 профильных
                        кабинетов врачей-специалистов.
                    span.btn.btn--blue Подробнее
            .columns-items.colums-items-2
                a.columns-items__single(href="#")
                    img(src="img/content/col-2-1.jpg" alt="image")
                    h4 Лечебная база
                    p.
                        На базе ессентукского санатория Виктория
                        действуют 6 специализированных лечебно-
                        диагностических центров, 16 лечебно-
                        диагностических отделений и 6 профильных
                        кабинетов врачей-специалистов.
                    span.btn.btn--blue Подробнее
                a.columns-items__single(href="#")
                    img(src="img/content/col-2-2.jpg" alt="image")
                    h4 Развлекательная программа в санатории
                    p.
                        На базе ессентукского санатория Виктория
                        действуют 6 специализированных лечебно-
                        диагностических центров, 16 лечебно-
                        диагностических отделений и 6 профильных
                        кабинетов врачей-специалистов.
                    span.btn.btn--blue Подробнее
        .container.mb-30
            .content-row
                .content-with-sidebar
                    ul.accordion
                        li
                            a(href="#") Можно ли лечиться у вас в санатории, не проживая в нем? Сколько это будет стоить?
                            .accordion-content.
                                Снижение частоты и длительности рецидивов заболеваний, снижение тяжести течения,
                                уменьшение продолжительности пребывания на больничном листе,
                                уменьшение затрат на медикаментозное лечение, урежение госпитализации,
                                профилактика осложнений, поддержание оптимального качества жизни.
                        li
                            a(href="#") Есть ли в санатории Wi-Fi?
                            .accordion-content.
                                Снижение частоты и длительности рецидивов заболеваний, снижение тяжести течения,
                                уменьшение продолжительности пребывания на больничном листе,
                                уменьшение затрат на медикаментозное лечение, урежение госпитализации,
                                профилактика осложнений, поддержание оптимального качества жизни.
                        li
                            a(href="#") Отпускаются ли процедуры в субботу и воскресенье? И в какое время можно приезжать в санаторий?
                            .accordion-content.
                                Снижение частоты и длительности рецидивов заболеваний, снижение тяжести течения,
                                уменьшение продолжительности пребывания на больничном листе,
                                уменьшение затрат на медикаментозное лечение, урежение госпитализации,
                                профилактика осложнений, поддержание оптимального качества жизни.
                        li
                            a(href="#") Есть ли в санатории Wi-Fi?
                            .accordion-content.
                                Снижение частоты и длительности рецидивов заболеваний, снижение тяжести течения,
                                уменьшение продолжительности пребывания на больничном листе,
                                уменьшение затрат на медикаментозное лечение, урежение госпитализации,
                                профилактика осложнений, поддержание оптимального качества жизни.
                aside.sidebar
                    a.warning(href="#")
                        .warning__title Вниманию Профсоюзов
                        span.warning__link-txt Льготные путевки в санаторий членам профсоюзов (ФНПР)
                    blockquote
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Aenean euismod bibendum laoreet. Proin gravida dolor
                        | sit amet lacus accumsan et viverra justo commodo.
                        cite
                            span.cite__name Иванов Иван Иванович
                            span.cite__city г. Москва
