extends ../layout/layout

block title
    | Главная страница

block content
    main
        include ../sections/top_banner
        include ../sections/complex_map
        include ../sections/about
        include ../sections/treatment_programs
        include ../sections/rooms_section
        include ../sections/article_section

