extends ../layout/layout

block title
    | Номерной фонд

block content
    main
        .title-row
            .container
                ul.breadcrubs
                    li
                        a(href="#") Главная
                    li Проживание
                h1.title-row__title Номерной фонд
                .title-row__subtitle.
                    На территории санатория «Виктория» расположены 4 спальных корпуса. Спальные корпуса соединены крытыми
                    переходами с обеденными залами. Бесплатный WI-FI в холлах корпусов
        .container
            .living-block
                .living-block__row
                    div
                        h2.living-block__title Спальный корпус  <span class="build-number">№1</span>
                        .living-block__info
                            span 7 жилый этажей
                            span 2 лифта
                        .living-block__desc.
                            В данном корпусе располагаются номера
                            комфорт класса.
                    .living-block__feauteres
                        .living-block__feauteres--title В корпусе имеются:
                        ul
                            li
                                +icon('electric-iron','')
                                | Гладильные комнаты
                            li
                                +icon('stethoscope','')
                                | Кабинет тепапевта
                            li
                                +icon('shower','')
                                | Лечебные души
                            li
                                +icon('massagetable','')
                                | Массажные кабинеты
                            li
                                +icon('anesthesia','')
                                | Процедурные кабинеты
                .living-block__slider
                    a.living-block__item(href="#")
                        img(src="img/content/room-catalog-1.jpg" alt="image")
                        .living-block__name 2-местный «Стандарт» <span class="living-block__price">от 2 300 <span class="ruble">c</span></span>
                    a.living-block__item(href="#")
                        img(src="img/content/room-catalog-2.jpg" alt="image")
                        .living-block__name 2-местный «Стандарт» <span class="living-block__price">от 2 300 <span class="ruble">c</span></span>
                    a.living-block__item(href="#")
                        img(src="img/content/room-catalog-1.jpg" alt="image")
                        .living-block__name 2-местный 2-комнатный «Стандарт» <span class="living-block__price">от 2 300 <span class="ruble">c</span></span>
            .living-block
                .living-block__row
                    div
                        h2.living-block__title Спальный корпус  <span class="build-number">№2</span>
                        .living-block__info
                            span 7 жилый этажей
                            span 2 лифта
                        .living-block__desc.
                            В данном корпусе располагаются номера
                            комфорт класса.
                    .living-block__feauteres
                        .living-block__feauteres--title В корпусе имеются:
                        ul
                            li
                                +icon('electric-iron','')
                                | Гладильные комнаты
                            li
                                +icon('stethoscope','')
                                | Кабинет тепапевта
                            li
                                +icon('shower','')
                                | Лечебные души
                            li
                                +icon('massagetable','')
                                | Массажные кабинеты
                            li
                                +icon('anesthesia','')
                                | Процедурные кабинеты
                .living-block__slider
                    a.living-block__item(href="#")
                        img(src="img/content/room-catalog-1.jpg" alt="image")
                        .living-block__name 2-местный «Стандарт» <span class="living-block__price">от 2 300 <span class="ruble">c</span></span>
                    a.living-block__item(href="#")
                        img(src="img/content/room-catalog-2.jpg" alt="image")
                        .living-block__name 2-местный «Стандарт» <span class="living-block__price">от 2 300 <span class="ruble">c</span></span>
            .living-block
                .living-block__row
                    div
                        h2.living-block__title Спальный корпус  <span class="build-number">№3</span>
                        .living-block__info
                            span 7 жилый этажей
                            span 2 лифта
                        .living-block__desc.
                            В данном корпусе располагаются номера
                            комфорт класса.
                    .living-block__feauteres
                        .living-block__feauteres--title В корпусе имеются:
                        ul
                            li
                                +icon('electric-iron','')
                                | Гладильные комнаты
                            li
                                +icon('stethoscope','')
                                | Кабинет тепапевта
                            li
                                +icon('shower','')
                                | Лечебные души
                            li
                                +icon('massagetable','')
                                | Массажные кабинеты
                            li
                                +icon('anesthesia','')
                                | Процедурные кабинеты
                .living-block__slider
                    a.living-block__item(href="#")
                        img(src="img/content/room-catalog-1.jpg" alt="image")
                        .living-block__name 2-местный «Стандарт» <span class="living-block__price">от 2 300 <span class="ruble">c</span></span>