section.about
    .container
        .about__text
            h1.title--md Базовый клинический санаторий «Виктория» в Ессентуках
            p Один из лидеров медицинских услуг на Кавказских Минеральных Водах
            a.link.link--blue(href="#") О санатории
        .about__video
            a.video-item(href="https://youtu.be/MATh7iPzTgU" data-fancybox="video")
                img(src="img/content/video-cover.jpg" alt="viktoria-video")
                .video-item__btn
                    +icon('play-button','')
                .video-item__txt Видео о санатории
                .video-item__duration 5 минут
    .about-list
        a.about-list__item(href="#")
            .about-list__img
                img(src="img/content/preim1.jpg" alt="image")
            .about-list__name Территория санатория - 22 ГА дендрологического парка
        a.about-list__item(href="#")
            .about-list__img
                img(src="img/content/preim2.jpg" alt="image")
            .about-list__name Крупнейшая в Европе питьевая галерея на территории
        a.about-list__item(href="#")
            .about-list__img
                img(src="img/content/preim3.jpg" alt="image")
            .about-list__name Собственная водолечебница. 5 отделений, бассейн и 19 видов ванн
        a.about-list__item(href="#")
            .about-list__img
                img(src="img/content/preim4.jpg" alt="image")
            .about-list__name Центр иммунологических и генетических исследований
        a.about-list__item(href="#")
            .about-list__img
                img(src="img/content/preim5.jpg" alt="image")
            .about-list__name Лицензии и сертификаты по 103 видам медицинской деятельности