section.article-sec
    .container
        .article-sec__title-row
            h2 Акции и новости
            a.btn.btn--white(href="#") <span>Все новости и акции</span>
        .article-sec__body
            .article__item--lg.article__item--blue
                a(href="#")
                    .aricle__item-row
                        .article__item-title Праздники проходят, а раздача подарков продолжается
                        .article__item-img
                            img(src="img/content/news-img-lg.jpg" alt="image")
                    .article__item-txt.
                        До 11 марта (*) вы еще можете воспользоваться скидкой 10%
                        на санаторно-курортные путевки с лечением в двухместные
                        номера спального корпуса №4.
                    .article__item-date
                        +icon('calendar-icon','')
                        | 11 января 2018
            .aricle__item-group
                .article__item--sm.article__item--white
                    a(href="#")
                        .article__item-col
                            .article__item-title.
                                Просветительский проект
                                «Место встречи с искусством»
                            .article__item-date
                                +icon('calendar-icon','')
                                | 11 января 2018
                        .article__item-img
                            img(src="img/content/news-img-sm-1.jpg" alt="image")

                .article__item--sm.article__item--green
                    a(href="#")
                        .article__item-col
                            .article__item-title.
                                Просветительский проект
                                «Место встречи с искусством»
                            .article__item-date
                                +icon('calendar-icon','')
                                | 11 января 2018
                        .article__item-img
                            img(src="img/content/news-img-sm-2.jpg" alt="image")





