section.complex-map
    h2.
        Территория санатория «Виктория»<br>
        — экскурсионный объект Кавказских Минеральных Вод
    .complex-map-container
        img(src="img/content/map-color.jpg" alt="")
        a.complex-map__zoom(href="#complex-map-modal" data-fancybox="map")
            +icon('zoom-in','')
            | Увеличить карту
        .complex-map__point
            .point.point-1
                button Корпус 1,2,3,4
                .complex-map__modal
                    ul
                        li
                            a(href="#") Церковная лавка
                        li
                            a(href="#") Сувенирный киоск
                        li
                            a(href="#") Отдел экскурсий и туризма
                        li
                            a(href="#") Водолечебница
                        li
                            a(href="#") Ванные отделения
                        li
                            a(href="#") Грязевое отделение
                        li
                            a(href="#") Диспетчерская
                        li
                            a(href="#") Касса платных мед.услуг
                        li
                            a(href="#") Бассейн
                        li
                            a(href="#") Банкомат
                        li
                            a(href="#") Бар
                        li
                            a(href="#") Библиотека
                        li
                            a(href="#") Музыкальный салон
                        li
                            a(href="#") Тренажерный зал
                        li
                            a(href="#") Салон красоты
                        li
                            a(href="#") Парикмахерская
            .point.point-2
                button Водолечебница
                .complex-map__modal
                    ul
                        li
                            a(href="#") Церковная лавка
                        li
                            a(href="#") Сувенирный киоск
                        li
                            a(href="#") Отдел экскурсий и туризма
                        li
                            a(href="#") Водолечебница
                        li
                            a(href="#") Ванные отделения
                        li
                            a(href="#") Грязевое отделение
                        li
                            a(href="#") Диспетчерская
                        li
                            a(href="#") Касса платных мед.услуг
                        li
                            a(href="#") Бассейн
                        li
                            a(href="#") Банкомат
                        li
                            a(href="#") Бар
                        li
                            a(href="#") Библиотека
                        li
                            a(href="#") Музыкальный салон
                        li
                            a(href="#") Тренажерный зал
                        li
                            a(href="#") Салон красоты
                        li
                            a(href="#") Парикмахерская
            .point.point-3
                button Питьевая галерея
                .complex-map__modal
                    ul
                        li
                            a(href="#") Церковная лавка
                        li
                            a(href="#") Сувенирный киоск
                        li
                            a(href="#") Отдел экскурсий и туризма
                        li
                            a(href="#") Водолечебница
                        li
                            a(href="#") Ванные отделения
                        li
                            a(href="#") Грязевое отделение
                        li
                            a(href="#") Диспетчерская
                        li
                            a(href="#") Касса платных мед.услуг
                        li
                            a(href="#") Бассейн
                        li
                            a(href="#") Банкомат
                        li
                            a(href="#") Бар
                        li
                            a(href="#") Библиотека
                        li
                            a(href="#") Музыкальный салон
                        li
                            a(href="#") Тренажерный зал
                        li
                            a(href="#") Салон красоты
                        li
                            a(href="#") Парикмахерская
            .point.point-4
                button Лечебный корпус
                .complex-map__modal
                    ul
                        li
                            a(href="#") Церковная лавка
                        li
                            a(href="#") Сувенирный киоск
                        li
                            a(href="#") Отдел экскурсий и туризма
                        li
                            a(href="#") Водолечебница
                        li
                            a(href="#") Ванные отделения
                        li
                            a(href="#") Грязевое отделение
                        li
                            a(href="#") Диспетчерская
                        li
                            a(href="#") Касса платных мед.услуг
                        li
                            a(href="#") Бассейн
                        li
                            a(href="#") Банкомат
                        li
                            a(href="#") Бар
                        li
                            a(href="#") Библиотека
                        li
                            a(href="#") Музыкальный салон
                        li
                            a(href="#") Тренажерный зал
                        li
                            a(href="#") Салон красоты
                        li
                            a(href="#") Парикмахерская
.complex-map-modal#complex-map-modal
    .complex-map-container
        img(src="img/content/map-color.jpg" alt="")
        .complex-map__point
            .point.point-1
                button Корпус 1,2,3,4
                .complex-map__modal
                    ul
                        li
                            a(href="#") Церковная лавка
                        li
                            a(href="#") Сувенирный киоск
                        li
                            a(href="#") Отдел экскурсий и туризма
                        li
                            a(href="#") Водолечебница
                        li
                            a(href="#") Ванные отделения
                        li
                            a(href="#") Грязевое отделение
                        li
                            a(href="#") Диспетчерская
                        li
                            a(href="#") Касса платных мед.услуг
                        li
                            a(href="#") Бассейн
                        li
                            a(href="#") Банкомат
                        li
                            a(href="#") Бар
                        li
                            a(href="#") Библиотека
                        li
                            a(href="#") Музыкальный салон
                        li
                            a(href="#") Тренажерный зал
                        li
                            a(href="#") Салон красоты
                        li
                            a(href="#") Парикмахерская
            .point.point-2
                button Водолечебница
                .complex-map__modal
                    ul
                        li
                            a(href="#") Церковная лавка
                        li
                            a(href="#") Сувенирный киоск
                        li
                            a(href="#") Отдел экскурсий и туризма
                        li
                            a(href="#") Водолечебница
                        li
                            a(href="#") Ванные отделения
                        li
                            a(href="#") Грязевое отделение
                        li
                            a(href="#") Диспетчерская
                        li
                            a(href="#") Касса платных мед.услуг
                        li
                            a(href="#") Бассейн
                        li
                            a(href="#") Банкомат
                        li
                            a(href="#") Бар
                        li
                            a(href="#") Библиотека
                        li
                            a(href="#") Музыкальный салон
                        li
                            a(href="#") Тренажерный зал
                        li
                            a(href="#") Салон красоты
                        li
                            a(href="#") Парикмахерская
            .point.point-3
                button Питьевая галерея
                .complex-map__modal
                    ul
                        li
                            a(href="#") Церковная лавка
                        li
                            a(href="#") Сувенирный киоск
                        li
                            a(href="#") Отдел экскурсий и туризма
                        li
                            a(href="#") Водолечебница
                        li
                            a(href="#") Ванные отделения
                        li
                            a(href="#") Грязевое отделение
                        li
                            a(href="#") Диспетчерская
                        li
                            a(href="#") Касса платных мед.услуг
                        li
                            a(href="#") Бассейн
                        li
                            a(href="#") Банкомат
                        li
                            a(href="#") Бар
                        li
                            a(href="#") Библиотека
                        li
                            a(href="#") Музыкальный салон
                        li
                            a(href="#") Тренажерный зал
                        li
                            a(href="#") Салон красоты
                        li
                            a(href="#") Парикмахерская
            .point.point-4
                button Лечебный корпус
                .complex-map__modal
                    ul
                        li
                            a(href="#") Церковная лавка
                        li
                            a(href="#") Сувенирный киоск
                        li
                            a(href="#") Отдел экскурсий и туризма
                        li
                            a(href="#") Водолечебница
                        li
                            a(href="#") Ванные отделения
                        li
                            a(href="#") Грязевое отделение
                        li
                            a(href="#") Диспетчерская
                        li
                            a(href="#") Касса платных мед.услуг
                        li
                            a(href="#") Бассейн
                        li
                            a(href="#") Банкомат
                        li
                            a(href="#") Бар
                        li
                            a(href="#") Библиотека
                        li
                            a(href="#") Музыкальный салон
                        li
                            a(href="#") Тренажерный зал
                        li
                            a(href="#") Салон красоты
                        li
                            a(href="#") Парикмахерская
