section.rooms-sec
    .rooms-sec__title-row
        h2 Номерной фонд
        .subtitle.
            На территории санатория «Виктория» расположены  4 спальных корпуса. Спальные корпуса
            соединены крытыми переходами с обеденными залами. Бесплатный WI-FI в холлах корпусов
    .rooms-list
        .room-card
            .room-card__img
                img(src="img/content/room-1.jpg" alt="")
            .room-card__title Спальный корпус <span class="build-number">№1</span>
            .room-card__info
                span 7 жилый этажей
                span 2 лифта
            .room-card__price от 2 300 <span class="ruble">c</span>
            .room-card__desc В данном корпусе располагаются номера комфорт класса.
            .room-card__feauteres
                .room-card__feauteres--title В корпусе имеются:
                ul
                    li Гладильные комнаты
                    li Кабинет тепапевтв
                    li Лечебные души
                    li Массажные кабинеты
                    li Процедурные кабинеты

            .room-card__hover
                a.room-card__title(href="#") Спальный корпус <span class="build-number">№1</span>
                .room-card__info
                    span 7 жилый этажей
                    span 2 лифта
                .room-links
                    .room-links__title Номера:
                    a(href="#")
                        span.room-links__name 2-местный «Стандарт»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 1-местный «Стандарт»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 2-местный 2-х комнатный «Люкс»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 2-местный «Улучшенный»
                        span.room-links__price 2 200 <span class="ruble">c</span>
        .room-card
            .room-card__img
                img(src="img/content/room-1.jpg" alt="")
            .room-card__title Спальный корпус <span class="build-number">№1</span>
            .room-card__info
                span 7 жилый этажей
                span 2 лифта
            .room-card__price от 2 300 <span class="ruble">c</span>
            .room-card__desc В данном корпусе располагаются номера комфорт класса.
            .room-card__feauteres
                .room-card__feauteres--title В корпусе имеются:
                ul
                    li Гладильные комнаты
                    li Кабинет тепапевтв
                    li Лечебные души
                    li Массажные кабинеты
                    li Процедурные кабинеты

            .room-card__hover
                a.room-card__title(href="#") Спальный корпус <span class="build-number">№1</span>
                .room-card__info
                    span 7 жилый этажей
                    span 2 лифта
                .room-links
                    .room-links__title Номера:
                    a(href="#")
                        span.room-links__name 2-местный «Стандарт»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 1-местный «Стандарт»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 2-местный 2-х комнатный «Люкс»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 2-местный «Улучшенный»
                        span.room-links__price 2 200 <span class="ruble">c</span>
        .room-card
            .room-card__img
                img(src="img/content/room-1.jpg" alt="")
            .room-card__title Спальный корпус <span class="build-number">№1</span>
            .room-card__info
                span 7 жилый этажей
                span 2 лифта
            .room-card__price от 2 300 <span class="ruble">c</span>
            .room-card__desc В данном корпусе располагаются номера комфорт класса.
            .room-card__feauteres
                .room-card__feauteres--title В корпусе имеются:
                ul
                    li Гладильные комнаты
                    li Кабинет тепапевтв
                    li Лечебные души
                    li Массажные кабинеты
                    li Процедурные кабинеты

            .room-card__hover
                a.room-card__title(href="#") Спальный корпус <span class="build-number">№1</span>
                .room-card__info
                    span 7 жилый этажей
                    span 2 лифта
                .room-links
                    .room-links__title Номера:
                    a(href="#")
                        span.room-links__name 2-местный «Стандарт»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 1-местный «Стандарт»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 2-местный 2-х комнатный «Люкс»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 2-местный «Улучшенный»
                        span.room-links__price 2 200 <span class="ruble">c</span>
        .room-card
            .room-card__img
                img(src="img/content/room-1.jpg" alt="")
            .room-card__title Спальный корпус <span class="build-number">№1</span>
            .room-card__info
                span 7 жилый этажей
                span 2 лифта
            .room-card__price от 2 300 <span class="ruble">c</span>
            .room-card__desc В данном корпусе располагаются номера комфорт класса.
            .room-card__feauteres
                .room-card__feauteres--title В корпусе имеются:
                ul
                    li Гладильные комнаты
                    li Кабинет тепапевтв
                    li Лечебные души
                    li Массажные кабинеты
                    li Процедурные кабинеты

            .room-card__hover
                a.room-card__title(href="#") Спальный корпус <span class="build-number">№1</span>
                .room-card__info
                    span 7 жилый этажей
                    span 2 лифта
                .room-links
                    .room-links__title Номера:
                    a(href="#")
                        span.room-links__name 2-местный «Стандарт»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 1-местный «Стандарт»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 2-местный 2-х комнатный «Люкс»
                        span.room-links__price 2 200 <span class="ruble">c</span>
                    a(href="#")
                        span.room-links__name 2-местный «Улучшенный»
                        span.room-links__price 2 200 <span class="ruble">c</span>
