footer.footer
    .footer__container
        .footer__row
            .footer__name
                a.footer__name--logo(href="#")
                    img(src="img/svgSprite/logo.svg" alt="logo")
                .footer__name--descriptor Базовый клинический санаторий «Виктория» <span class="footer__name--descriptor-sm">Официальный сайт санатория</span>
            .footer__address
                +icon('locate','')
                | г. Ессентуки<br> ул. Пушкина, 22
            .footer__links
                a.footer__phone(href="tel:+78793443463") +7 (87934) <span class="bold">4-34-63</span>
                a.footer__faq(href="#")
                    +icon('question','')
                    | Вопрос-ответ
            a.footer__btn(href="#") Забронировать путёвку
        .footer__row.footer__menu
            .footer__menu-col
                a.footer__menu-lg(href="#") О санатории
                .footer__menu-list
                    a(href="#") Питьевая галерея
                    a(href="#") Территория
                    a(href="#") Информация для гостей
                    a(href="#") Правовая база
            .footer__menu-col
                a.footer__menu-lg(href="#") Лечение
                .footer__menu-list
                    a(href="#") Лечебно-оздоровительные программы
                    a(href="#") Лечебная база и курортные факторы
                    a(href="#") Показания и противопоказания
                    a(href="#") Перечень платных медицинских услуг
            .footer__menu-col
                a.footer__menu-lg(href="#") Проживание
                .footer__menu-list
                    a(href="#") 1 корпус
                    a(href="#") 2 корпус
                    a(href="#") 3 корпус
                    a(href="#") 4 корпус
            .footer__menu-col
                .footer__menu-list-bold
                    a(href="#") Питание
                    a(href="#") Мать и дитя
                    a(href="#") Досуг
                    a(href="#") Цены на путевки
            .footer__menu-col
                .footer__menu-list-bold
                    a(href="#") Новости
                    a(href="#") Контакты
                .footer-social
                    a(href="#")
                        +icon('vk','')
                    a(href="#")
                        +icon('fb','')
        .footer__row.justify-center
            .footer__attention ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА.
        .footer__row
            .footer__copyright © Санаторий «Виктория», 2018
            .footer__policy
                a(href="#") Политика конфиденциальности
                a(href="#") Пользовательское соглашение
            .footer__developer Разработчик — <a href="https://webelement.ru/" target="_blank">WEBELEMENT</a>
