.title-row
    .container
        ul.breadcrubs
            li
                a(href="#") Главная
            li
                a(href="#") Лечение
            li Хлебные крошки
        h1.title-row__title H1. Ghotam Pro Regular 36px.<br>Лечение ЖКТ
        .title-row__subtitle.
            Программа разработана для реабилитации и восстановительного лечения природными и<br>преформированными
            факторами лечения пациентов с заболеваниями внутренних органов.